.navegador {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 15px;
    position: sticky;
}

.conteiner {
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-around;
    padding: 0 24px;
    cursor: pointer;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
    height: 100px;
    /* Se corrigió el valor de z-index a un número sin porcentaje. */
}

.Navmenu {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: right;
}

.NavLink {
    text-decoration: none;
    margin-right: 20px;
    color: rgb(0, 0, 0);
}

.NavLink:hover {
    color: rgb(25, 0, 255);
}

.img {
    height: 70px;
    margin-right: 10px;
}

.logopages {
    color: aliceblue;
    font-size: 20px;
}

.subContenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 767px) {

    .navegador,
    .conteiner {
        height: 65px;
        /* Reducir la altura en pantallas pequeñas */
    }

    .img,
    .logopages {
        display: none;
        /* Ocultar elementos en pantallas pequeñas */
    }

    .conteiner {
        justify-content: center;
        padding: 0 10px;
        /* Reducir el padding */
    }

    .Navmenu,
    .NavLink {
        font-size: 14px;
        /* Reducir el tamaño de la fuente para ahorrar espacio */
    }

    .NavLink {
        margin-right: 10px;
        /* Reducir el margen entre enlaces */
    }
}

h1 {
    color: black;
    font-family: lexend;
    font-size: 24px;
    /* Tamaño de fuente predeterminado para grandes pantallas */
}

@media (max-width: 767px) {
    h1 {
        font-size: 20px;
        /* Reducir el tamaño de la fuente en pantallas pequeñas */
    }
}